<div class="panel panel-default">
  <div class="panel-header">
    <h2>Attributes</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4" ng-repeat="category in categories">
        <div class="row row-with-margin"
        ng-repeat="attribute in category.attributes">
          {{attribute.name}}
          <trait-control class="float-right" max="5"
          trait="character.attributes[attribute.id]" read-only="true">
          </trait-control>
        </div>
      </div>
    </row>
  </div>
</div>
