<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a href="#" id="logo">Exalted Generator</a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <!-- <% if logged_in? %> -->
          <li><a href="#">Users</a></li>
          <li class="dropdown">
            <a id="user_dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- <%= gravatar_for(current_user, size: 20) %> -->
              Username <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li class="divider"></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
        <!-- <% else %> -->
          <li><a href="#">Log In</a></li>
        <!-- <% end %> -->
      </ul>
    </nav>
  </div>
</header>
