<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a id="logo" ui-sref="index">Exalted Generator</a>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="index">Home</a></li>
        <!-- <% if logged_in? %> -->
          <li ng-show="signedIn()"><a href="#">Users</a></li>
          <li ng-show="signedIn()" class="dropdown">
            <a id="user_dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- <%= gravatar_for(current_user, size: 20) %> -->
              {{user.username}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li class="divider"></li>
              <li><a ng-click="logout()">Log Out</a></li>
            </ul>
          </li>
        <li ng-hide="signedIn()">
          <a ui-sref="login">Log In</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
