<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form ng-submit="login()">
      <input type="email" class="form-control" placeholder="Email" ng-model="user.email" />
      <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
      <label for="remember_me" class="checkbox-inline">
        <input type="checkbox" id="remember_me">
        <span>Remember on this computer</span>
      </label>
      <input type="submit" class="btn btn-primary" value="Log In" />
    </form>

    <p>New user? <a ui-sref="signup">Sign up now!</a></p>
  </div>
</div>
