// boostrap overrides
$navbar-inverse-brand-color: #fff;

@import 'bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'font-awesome/css/font-awesome';
@import 'awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css';

@import '*';

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;

  src: font-url('font-awesome/fonts/fontawesome-webfont.eot?v=4.0.3'),
  font-url('font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
  font-url('font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
  font-url('font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
  font-url('font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
}

// mixins, variables, etc.
$gray-medium-light: #eaeaea;
$gold: #ffd700;

// universal

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

a {
  &:hover,
  &:focus {
    background-color: unset;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.row-no-padding {
  >[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.row-with-margin {
  margin-left: 0;
  margin-right: 0;
}

.float-right {
  float: right;
}

// typography

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

h3 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// header

.navbar-inverse .navbar-brand {
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

// footer
footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// forms

// mark invalid fields that have lost focus
.ng-invalid.ng-touched {
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
  border-color: $state-danger-text;

  &:focus {
    $shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($state-danger-text, 20%);
    @include box-shadow($shadow);
    border-color: darken($state-danger-text, 10%);
  }
}

trait-control .checkbox [type="checkbox"] {
  + label:before {
    border: 2px solid $gray;
  }

  // Customize size and position of checkbox tick for trait controls
  &:checked + label:after {
    content: '\f0c8';
    font-size: 10px;
    padding-left: 4.5px;
    padding-top: 2px;
  }

  &:disabled + label {
    cursor: default;
    opacity: 1;

    &::before {
      background-color: $body-bg;
    }
  }
}

.caste-ability .checkbox [type='checkbox'] {
  + label {
    font-weight: bold;
  }

  + label:before {
    border: 2px solid $gold;
  }

  &:checked + label:after {
    color: $gold;
  }
}

// sidebar

aside {
  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }

    .user-info {
      margin-top: 20px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

// lists of items

.index-list {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}
