<!DOCTYPE html>
<html ng-app="ex3-gen">
<head>
  <title>Exalted Generator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<navigation-bar></navigation-bar>

<div class="container">
  <ui-view></ui-view>
  <page-footer></page-footer>
</div>

</body>
</html>
