<!DOCTYPE html>
<html ng-app="ex3-gen" ng-controller="TestController">
<head>
  <title>Exalted Generator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<navigation-bar></navigation-bar>
<ui-view></ui-view>

</body>
</html>
